.main{
    background: #E4E4E9;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
}

.main_title{
    margin: 20px;
}

.main_map {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}

.main_map_left {
    margin-bottom: 30;
    margin-top: 30px;
    margin-left: 10px;
}

.wafflechart_title {
    text-align: center;
    font-family:tahoma, geneva, sans-serif; 
    font-weight:bold; 
}

.wafflechart_description {
    margin: 25px;
    text-align: left;
}