#waffleWrapper{
    max-width:1200px;
    margin: 0px auto;
    justify-content:space-around;
    display:flex;
    flex-wrap:wrap;
}
#waffleWrapper p{
    font-size:14px; 
    font-family:tahoma, geneva, sans-serif; 
    font-weight:bold; 
    text-align:center;
    width:100%;
    color:#212121;
}
.chart{ 
    width: 240px;
    height: 220px;
    margin: 15px;
}